    /* Style pour le bouton 'xx' */
    .xx {
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
  
      /* Style pour les éléments ayant les classes taille_img et user_log lors du survol */
      .taille_img:hover,
      .user_log:hover {
        cursor: pointer;
      }